@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

* {
    font-family: 'Vazirmatn', sans-serif;
}

.error{
    color: red;
    margin-bottom: 5px;
    
}
body {
    background-color: white ;
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: #333 !important;
    
}

.dark-mode form {
    background-color: #444 !important;
}



.dark-mode .fa-moon {
    display: none !important;
}

.dark-mode-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 40px;
    cursor: pointer;
}


.dark-mode-button:hover {
    color: #007bff !important;
}

.dark-mode .dark-mode-button {
    color: #fff;
}

.fa-moon {
    display: block !important;
}

.dark-mode .fa-sun {
    display: block !important;
}

.fa-sun {
    display: none !important;
}

.form {
    width: 500px;
    height: 330px;
    margin: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.floating-input {
    display: block;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.floating-input input {
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.floating-input label {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    color: #999;
    transition: 0.3s;
    pointer-events: none;
}

.dark-mode .floating-input label {
    color: #000;
}

.floating-input input:focus+label,
.floating-input input:not(:placeholder-shown)+label {
    top: -10px;
    font-size: 12px;
    color: #333;
}

.dark-mode .floating-input input:not(:placeholder-shown)+label {
    color: white !important;
}

.dark-mode .floating-input input:focus+label {
    color: white !important;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0069d9;
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-toggle-icon i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.password-toggle-icon i:hover {
    color: #000;
}

@media (max-width: 500px) {
    .dark-mode .dark-mode-button:hover {
        color: #fff !important;
    }
    .dark-mode-button:hover {
        color: #333 !important;
    }
    .form {
        width: auto !important;
        height: auto !important;
        border-radius: 0px !important;
    }
}